.selected-li a{
    background-color: #fff !important;
    color:#000 !important;
}

.test-words__item{
    display: block !important;
}

.apple-number-black{
    position: absolute;
}

.test__title-small {
    font-size: 24px;
    font-weight: 300;
    line-height: 30px;
    color: #665665;
    margin-top: 15px!important;
}

.w20 {
    width: 20%;
}

.w30 {
    width: 30%;
}

.w35 {
    width: 35%;
}

.w40 {
    width: 40%;
}

.w50 {
    width: 50%;
}

.w60 {
    width: 60%;
}

.w70 {
    width: 70%;
}

.w80 {
    width: 80%;
}

.tac {
    text-align: center;
}

.tar {
    text-align: right;
}

.tal {
    text-align: left;
}

.task-play {
    transition: .3s;
    display: inline-block;
    width: 49px;
    position: absolute;
    top: -14px;
    right: 8%;
    color: #164f88;
    font-size: 50px;
    fill:red;
}

.task-play:hover {
    fill: #fb5e3a;
}

.i_step-8 {
    width: 49px;
    height: 49px;
    fill: red;
}

.test-words__item {
}

.flex-test {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-test-just-even {
    justify-content: space-evenly;
}

.flex-test-space-between {
    justify-content: space-between;
}

.flex-test-alcenter {
    align-items: center;
}

.test-words__item_flex {
    display: flex;
    justify-content: space-between;
}

.test-word__item-block {
    /*display: flex;*/
    /*align-items: center;*/
    margin-bottom: 15px;
    font: 20px robotoregular, sans-serif;
}

.test-word__item-block > span {
    margin-right: 5px;
    font-size: 25px;
}

.test-words__content {
   /* width: 265px;
    height: 269px;*/
    transition: .3s;
    cursor: pointer;
    margin: 0 auto 15px;
    position: relative;
    padding: 15px 25px;
}

.test-border {
    border: 2px solid #cccccc;
    outline: 2px solid transparent;
    transition: 0.3s;
}

.test-border:hover {
    outline-color: #cccccc;
}

.test-words__item_clock:after {
    content: "";
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;

    background: url("img/svg/sun.svg") no-repeat;
    top: 2%;
    right: 2%;
}

.test-words__img {
    /*margin-top: 20px;*/
    /*margin-left: 19px;*/
}

.test-words__item_tree {
    display: inline-block;
}

.test-words__num {
    width: 42px;
    height: 42px;
    background-color: #044f87;
    color: #ffffff;
    border-radius: 50%;
    padding: 6px 14px;
    box-sizing: border-box;
    font-size: 24px;
    margin: 15px auto 0;
}

.svg-sun {
    position: absolute;
    top: 5px;
    right: 5px;
}

.test-choise-block {
    margin-top: 20px;
}

.test-choise {
    width: 85px;
    height: 38px;
    box-sizing: border-box;
    border-radius: 19px;
    border: 3px solid #000000;
    text-align: center;
    padding-top: 4px;
    cursor: pointer;
}

.mb15 {
    margin-bottom:15px;
}

.test-choise__brown {
    border: 3px solid #e9a503;
}

.test-choise__dark-blue{
    border: 3px solid #6147e5;
}

.test-choise__red{
    border: 3px solid #e9a503;
}

.test-choise__dark-purple{
    border: 3px solid #6147e5;
}

.test-choise__white-green{
    border: 3px solid #7be547;
}

.test-choise__white-pink{
    border: 3px solid #e9037f;
}

.test-choise__white-blue{
    border: 3px solid #b1f1fa;
}

.test-choise__purple{
    border: 3px solid #e93e03;
}

.test-choise__green{
    border: 3px solid #186723;
}

.test-choise__cancel{
    border: 3px solid #32d7c0;
    color: #32d7c0;
}

.test-choise__rebus {
    width: 102px;
    height: 102px;
    box-sizing: border-box;
    padding: 17px;
    border-radius: 15px;
    border: 1px solid #32d7c0;
}

.puzzle-block {
    display: flex;
    flex-wrap: wrap;
}

.puzzle-block__item {
    width: 33%;
    text-align: center;
    display: table;
    margin-bottom: 30px;
}

.test-words__cell span {
    display: inline-block;
    border: 1px solid #32d7c0;
    width: 45px;
    height: 45px;
    box-sizing: border-box;
    text-align: center;
    padding-top: 9px;
}

.test-words__input {
    display: inline-block;
    border: 1px solid #32d7c0;
    width: 45px;
    height: 45px;
    box-sizing: border-box;
    text-align: center;
    padding-top: 4px;
}

.test-words__col {

}

.left-col .test-words__cell:after {
    content: "";
    display: block;
    width: 100%;
    height: 11px;
    background: url("img/arrow-down.png") no-repeat 87% 0;
    margin: 5px 0;
}

.right-col .test-words__cell:after {
    content: "";
    display: block;
    width: 100%;
    height: 11px;
    background: url("img/arrow-up.png") no-repeat 87% 0;
    margin: 5px 0;
}

.arrow:after {
    content: "";
    display: block;
    width: 191px;
    height: 12px;
    position: absolute;
    bottom: -2px;
    left: 144px;
    background: url("img/arrow-big.png") no-repeat 50% 0;
}

.test-words__block-content {
    width: 259px;
    border: 1px solid #32d7c0;
}

.test-words__block-head {
    padding: 1px 12px 1px 20px;
    cursor: pointer;
    position: relative;
    transition: 0.3s;
}

.test-words__block-head:hover {
    background: #adcfe6;
}

.test-words__block-head span {
    display: inline-block;
    transition: transform 0.5s;
    top: 3px;
    right: 5px;
    position: absolute;
    width: 21px;
    height: 21px;
    background: url("img/select-icon.png") no-repeat;
}

.content-active .test-words__block-head span{
    transform: rotate(180deg);
}

.test-words__block-content-item {
    padding: 10px 12px;
    display: none;
}

.test-words__block-content {
    margin-bottom: 18px;
}

.test-words__block-content:last-of-type {
    margin-bottom:  0;
}

.test-words__letter-block {
    text-align: left;
    margin-top: 20px;
}

.test-words__letter-block span {
    margin-top: 10px;
    margin-right: 10px;
    display: inline-block;
    width: 35px;
    height: 37px;
    border-radius: 15px;
    border: 2px solid #32d7c0;
    box-sizing: border-box;
    padding: 5px 8px;
    cursor: pointer;
}

.test-words__rebus-table {
    margin: 0 auto;
}

.test-words__rebus-table td{
    margin: 0 auto;
    min-width: 110px;
    border: 1px solid #818181;
    padding: 20px;
    box-sizing: border-box;
}

.birds-block {
    font-size: 23px;
}

.birds-block .test-words__input {
    padding-top: 0;
}

.birds-block .test-words__item:first-of-type .test-words__cell{
    margin-bottom: 34px;
}

.birds-block .test-words__item:first-of-type .test-words__cell:last-of-type{
    margin-bottom: 0;
}

.birds-block .test-words__item:nth-of-type(2) .test-words__cell{
    margin-bottom: 10px;
}

/*.birds-block .test-words__cell {*/
    /*margin-bottom: 10px;*/
/*}*/

.test-words__table-find-words {
    margin-left: auto;
    margin-right: auto;
}

.test-words__table-find-words tr td {
    width: 57px;
    height: 57px;
    border: 1px solid #818181;
    font-size: 30px;
}