.test__title-small {
    font-size: 24px;
    font-weight: 300;
    line-height: 30px;
    color: #665665;
}

.task-play {
    transition: .3s;
    display: inline-block;
    width: 49px;
    position: absolute;
    top: -14px;
    right: 9%;
    color: #164f88;
    font-size: 50px;
    fill:red;
}

.task-play:hover {
    fill: #fb5e3a;
}

.i_step-8 {
    width: 49px;
    height: 49px;
    fill: red;
}

.test-words__item {
    margin: 0 auto 15px;
    position: relative;
    width: 265px;
    height: 269px;
    transition: .3s;
    cursor: pointer;
}

.test-words__item_border {
    border: 2px solid #cccccc;
}

.test-words__item_clock:after {
    content: "";
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;

    background: url("img/svg/sun.svg") no-repeat;
    top: 2%;
    right: 2%;
}

.test-words__img {
    margin-top: 20px;
    margin-left: 19px;
}

.test-words__item_tree {
    display: inline-block;
}

.test-words__item_flex {
    display: flex;
    justify-content: space-between;
}

.test-words__num {
    width: 42px;
    height: 42px;
    background-color: #044f87;
    color: #ffffff;
    border-radius: 50%;
    padding: 6px 14px;
    box-sizing: border-box;
    font-size: 24px;
    margin: 0 auto;
}